<div class="containter d-flex justify-content-center mt-4">
<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Questão 1</h5>
      <p class="card-text">Selecione uma alternativa correta abaixo:</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">A) Abacaxi</li>
      <li class="list-group-item">B) Abacate</li>
      <li class="list-group-item">C) Melancia</li>
      <li class="list-group-item">D) Melão</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Responder</a>
    </div>
  </div>
</div>
